DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'root') THEN
    CREATE ROLE root WITH LOGIN PASSWORD '123qwe';
  ELSE
    ALTER ROLE root WITH PASSWORD '123qwe';
  END IF;
END
$$;

-- intentar crear la BD (si ya existe, psql mostrará un error pero continuará)
CREATE DATABASE cobranza_db;
ALTER DATABASE cobranza_db OWNER TO root;
